body{
    background-color: #eee;
}

header{
    background-color: #fff;
}

aside{
    background-color: #fff;
    padding-left: 5vh;
    padding-right: 5vh;
}

#principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2vh;
    gap: 1vh;
}

#articulos{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

#articulos a{
    text-decoration: none;
    color: #000;
}

.articulos__todos:hover{
    text-align: center;
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__abrigos:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__camisetas{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__pantalones:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__carrito:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

#Productos{
    display: flex;
    flex-direction: column;
    justify-content:start;
    background-color: #fff;
    gap: 5vh;
    padding-left: 8vh;
    padding-right: 8vh;
}

.Productos__listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
    align-items: center;
}

.Productos__img{
    display: flex;
    justify-content: center;
}

.Productos__descripcion{
    display: flex;
    flex-direction: row;
    text-align: center;
}