body{
    background-color: #eee;
    text-decoration: none;
}

header{
    background-color: #fff;
    position: sticky;
    top: 0;
}

aside{
    background-color: #fff;
    padding-left: 5vh;
    padding-right: 5vh;
    position: sticky;
}

#principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3vh;
    gap: 5vh;
}

#articulos{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}

#articulos a{
    text-decoration: none;
    color: #000;
}

.articulos__todos{
    text-align: center;
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__abrigos:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__camisetas:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__pantalones:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

.articulos__carrito:hover{
    background-color: #f7e3be;
    border: 2px solid #a77211;
}

#Productos{
    display: block;
    flex-direction: column;
    justify-content:space-around;
    background-color: #fff;
    gap: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    width:50%;
}

.Productos__listado{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    flex-wrap: wrap;
    gap: 3vh;
    align-items: center;
    width:35vw;
    height:60vw;
}

.Productos__listado article{
    border: 3px solid #a77211;
    border-radius: 5%;
    transition-property: background-color, padding;
    transition-duration: 1s,1s;
}

.Productos__listado article:hover{
    background-color: #f7e3be;
    padding: 1vh;
}



.Productos__img{
    display: flex;
    justify-content: center;
}

.Productos__descripcion{
    display: flex;
    flex-direction: column;
    text-align: center;
}